.skills_section{
    padding: 100px 0 300px;
    position: relative;
    max-width: 700px;
}

.skills-line{
    position: absolute;
    width: 150px;
    border-bottom: solid var(--primary) 1px;
    top: 50%;
    left: 80px;
}

.skill-bubble-container{
    display: flex;
    flex-direction: column;
}

.skills_container{
    display: flex;
    flex-wrap: wrap;
}
.skills_container img{
    height: 2.5vw;
    min-height: 25px;
}

.skill-category-container h3{
    color: #fff;
    font-weight: 400;
    font-size: 12px;
}

.skill-title{
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: left;
}

.arrow-img-container{
    align-items: center;
    display: flex;
}

.skill-title img{
    height: 15px;
    margin-right: 10px;
}

.skill-bubble-container{
    padding: 5px 10px;
}



/* ========= MEDIA QUERIES */
@media (max-width: 600px){
    .skills_container h3{
        font-size: 11px; 
    }   

    .arrow-img-container img{
        height: 12px;
    }
}
