
.home-left h1{
    color:white;
    font-size: 19px;
    font-weight: 200;
}

.home-left h2{
    color: #6FE4BD;
    font-size: 75px;
    margin: 0px;
    word-wrap: break-word;
    text-align: left;
    /* width: 100%; */
    font-size-adjust: inherit;
}

.home-left p{
    color: white;
    font-weight:200;
    font-size: 19px;
    text-align: left;
    width: 80%;
}

.home-left p span{
    color: #e26961;
    font-weight: 400;
}

