/* 6FE4BD */
/* 1a2128 */

.nav{
    height: 80px;
    background: #1a2128;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 50px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    transition: top 0.5s 
}

.nav.blur{
    backdrop-filter: blur(6px);
    background: #1a2128e3;
}

.nav.shadow{
    backdrop-filter: unset;
    -webkit-box-shadow: 0px 5px 7px -1px rgba(0,0,0,0.2); 
    box-shadow: 0px 5px 7px -1px rgba(0,0,0,0.2);
}

.nav.hidden{
    top: -80px;
}

.nav-logo{
    width: 40px;
}

.nav-menu{
    display: flex;
    list-style: none;
}

.nav-link{
    margin: 0 30px;
}
.nav-link a{
    color: #fff;
    text-decoration: none;
    font-size: 16px;
    font-weight: 300;
    letter-spacing: 1px;
    transition: all 0.2s ease;
}

.nav-link a:hover{
    color: #6FE4BD;
}

.App.fixed {
  position: fixed;
}

.nav-menu{
    display: flex;
}


.hamburger-container{
    position: absolute;
    top: 10px;
    right: 30px;
    display: flex;
    justify-content: center;
    cursor: pointer;
    align-items: center;
    width: 60px;
    height: 60px;
    /* border: 2px solid #fff; */
}
.hamburger{
    width: 35px;
    height: 5px;
    background: #6FE4BD;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgb(54, 41, 40);
    transition: all .5s ease-in-out;
    position: relative;
}

.hamburger::after,
.hamburger::before {
    content: '';
    position: absolute;
    left: 0;
    width: 35px;
    height: 5px;
    background: #6FE4BD;
    border-radius: 5px;
    /* box-shadow: 0 2px 5px rgb(54, 41, 40); */
    transition: all .5s ease-in-out;
}

.hamburger::before{
    transform: translateY(-11px);
}

.hamburger::after{
    transform: translateY(11px);
}

.hamburger-container.open .hamburger{
    transform: translateX(-15px);
    background: transparent;
    box-shadow: none;
}

.hamburger-container.open .hamburger::before{
    transform: rotate(45deg) translate(5px, -5px);
}

.hamburger-container.open .hamburger::after{
    transform: rotate(-45deg) translate(5px,5px);
}





@media screen and (max-width: 850px){
    .nav-menu{
        position: fixed;
        top: 60px;
        background: #021114ee;
        backdrop-filter: blur(6px);
        height: 100vh;
        width: 100%;
        display: block;
        padding: 0;
        right: -200vw;
        transition: all 0.5s;
    }

    .nav-menu.active{
        right: 0;
    }

    .nav-link{
        margin: 40px 0;
    }
    
    .nav-link a{
        font-size: 20px;
    }

    .hamburger{
        display:block;
    }


}